<h2 mat-dialog-title style="text-align:center">Users List</h2>
<mat-dialog-content class="mat-typography">
    <div class="card-body">
        <div class="row justify-content-lg-center">
            <div class="col-md-10">
                <form role="form" [formGroup]="userForm" class="needs-validation" novalidate>
                    <div class="form-group has-default">
                        <ngx-select-dropdown (change)="selectionChanged($event)" formControlName="userIds" id="user"
                            class="form-control" [multiple]="true" [config]="config" [(ngModel)]="selectedItems"
                            [options]="options"></ngx-select-dropdown>
                        <div *ngIf="submitted && f.userIds.errors" class="help-block mt-4" style="color: red">
                            <div *ngIf="f.userIds.errors.required">User is required</div>
                        </div>
                    </div>

                    <div class="form-group has-default">
                        <mat-form-field>
                            <mat-select placeholder="Select Role" [(ngModel)]="selectedRole" formControlName="role" name="role">
                                <mat-option [value]="">
                                    Select Role
                                </mat-option>
                                <mat-option *ngFor="let role of roles" [value]="role.id">
                                    {{ role.roleName }}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                        <div *ngIf="submitted && f.role.errors" class="help-block" style="color: red">
                            <div *ngIf="f.role.errors.required">Role is required</div>
                        </div>
                    </div>

                    <mat-dialog-actions align="end">
                        <button class="btn btn-primary" cdkFocusInitial (click)="addUser()">Add User</button>
                    </mat-dialog-actions>
                </form>
            </div>

            <div class="col-md-12 ml-auto mr-auto mt-5">
                <h3 class="card-title text-primary">User List</h3>
                <hr />
                <div class="material-datatables">
                    <table mat-table cellspacing="0" *ngIf="updateDataTable" [dataSource]="dataSource.data"
                        class="table table-striped table-no-bordered table-hover dataTable dtr-inline mat-elevation-z8"
                        style="width: 100%;" width="100%" role="grid" aria-describedby="datatables_project">
                        <ng-container matColumnDef="name">
                            <th mat-header-cell *matHeaderCellDef> Name </th>
                            <td mat-cell *matCellDef="let element"> {{element.firstName}}
                                {{element.lastName}} </td>
                        </ng-container>

                        <ng-container matColumnDef="email">
                            <th mat-header-cell *matHeaderCellDef> Email Address </th>
                            <td mat-cell *matCellDef="let element"> {{element.email}} </td>
                        </ng-container>

                        <ng-container matColumnDef="role">
                            <th mat-header-cell *matHeaderCellDef> User Role </th>
                            <td mat-cell *matCellDef="let element"> {{ getRoleData(element.userRole.roleId) }} </td>
                        </ng-container>

                        <ng-container matColumnDef="actions">
                            <th mat-header-cell *matHeaderCellDef>Actions</th>
                            <td mat-cell *matCellDef="let element">
                                <a class="btn btn-link btn-primary btn-just-icon" matTooltip="Delete Project"
                                    (click)="deleteProject(element)">
                                    <i class="material-icons" aria-label="Delete Project">delete</i>
                                </a>
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="noRecord">
                            <td mat-footer-cell *matFooterCellDef colspan="4" class="text-center">No records found.</td>
                        </ng-container>

                        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                        <tr mat-footer-row *matFooterRowDef="['noRecord']"
                            [ngClass]="{'d-none':!(dataSource.data === null || dataSource.data.length==0)}"></tr>
                    </table>
                </div>
            </div>

            <div class="ml-auto mb-5 pr-3">
                <button class="btn btn-default" mat-dialog-close>Cancel</button>
                <button class="btn btn-primary" cdkFocusInitial (click)="saveUser()">Save</button>
            </div>
        </div>
    </div>
</mat-dialog-content>