.data-title {
  .material-icons {
    color: #9c27b0;
    display: inline-block;
    vertical-align: middle;
  }
  margin: 10px 0;
}
.expansion-panelMain {
  .mat-expansion-panel-header {
    padding: 0 10px;
  }
  .mat-expansion-panel-header-title {
    margin: 0;
  }
  .expansion-panelWrapper {
    width: 100%;
  }
  .expansion-num {
    padding: 2px 7px;
    border-radius: 20px;
    line-height: 24px;
    color: #fff;
  }
  .expansion-num.passed {
    background: #4caf50;
    margin: 0 0 0 -26px;
  }
  .expansion-num.failed {
    background: #f44336;
    margin: 0 0 0 -26px;
  }
  .expansion-panelTitleRight {
    .badge {
      display: inline-block;
    }
    display: inline-block;
    width: 250px;
    text-align: right;
    font-size: 12px;
    vertical-align: middle;
    margin: 10px 0;
  }
  .timing-show {
    display: inline-block;
    margin-left: 10px;
    vertical-align: middle;
  }
  .testStepResult-status {
    .material-icons {
      color: #fff !important;
    }
    display: inline-block;
    margin: 0 15px;
  }
  .group-iterationResult {
    .iterationResult-title {
      font-size: 12px;
      overflow: visible;
      margin: 10px 0 10px 0;
      padding: 0;
    }
    .iterationResult-decrpt.timing-show {
      margin-left: 0;
    }
    .data-descrpt {
      .material-icons {
        color: #9c27b0;
        vertical-align: middle;
      }
    }
    border-top: 1px solid #eaeaea;
  }
  .iterationResult-title {
    padding: 10px 0 10px 26px;
    width: calc(100% - 260px);
    font-size: 14px;
    display: inline-block;
    vertical-align: middle;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }
  margin: 5px 5px 15px 5px;
}
.orange-time {
  font-size: 16px;
  margin: 0 5px 0 0;
  color: #ffbc00;
  vertical-align: middle;
  line-height: 12px;
  height: 14px;
}
.link-icon {
  color: #9c27b0;
  font-size: 20px;
  display: inline-block;
  vertical-align: middle;
  line-height: 21px;
}
.iterationResult-decrpt {
  margin: 0 0 10px 0;
  font-weight: 400;
  word-break: break-word;
  img {
    width: 400px;
    height: auto;
  }
}
/*.iterationResult-decrpt:before {
  content: ":";
  margin: 0 6px 0 -10px;
  display: inline-block;
  position: absolute;
}*/
.iterationResult-title {
  font-size: 12px;
  overflow: visible;
  margin: 10px 0 0 0;
  padding: 0;
  font-weight: 400;
  color: #9b9b9b;
}
.img-wrapper {
  width: 150px;
  height: 112px;
  overflow: hidden;
  margin-bottom: 0;
  .img-link {
    cursor: pointer;
    width: 100%;
    height: auto;
  }
}
.timing-show {
  vertical-align: top;
  display: inline-block;
}
.result-title {
  .test-titlePopup {
    margin: 10px 0;
    vertical-align: middle;
  }
  .timing-show {
    margin: 10px 20px;
  }
}
.iteration-result-dialog-content {
  padding: 0 24px;
}
