<div class="d-flex justify-content-start">
  <div>
    <mat-chip-list class="primary-chip">
      <mat-chip
        class="primary-box"
        *ngIf="selectWebsite"
        (removed)="removeFilter()"
      >
        Application: {{ selectWebsite.name }}
        <mat-icon matChipRemove>cancel</mat-icon>
      </mat-chip>
    </mat-chip-list>
  </div>
  <!-- <div>
    <button
      mat-flat-button
      class="btn btn-primary btn-link text-capitalize mt-1"
      *ngIf="isFilterApplied"
      (click)="removeFilter()"
    >
      <medium>
        <span class="mat-button-wrapper">
          <i class="material-icons">close</i>
        </span>
        Clear filters
      </medium>
    </button>
  </div> -->
</div>
